*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    background-attachment: fixed;
}

.cabecalho{
    background-color: #BE3144;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    height: 60px;
    width: 100vw;
}

.cabecalho-imagem{
    width: 60px;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
    color:#f0f8ff;
    list-style: none;
    margin-right: 40px;
}

.cabecalho-menu a{
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: var(--main-white);
    margin: auto;
}


hr{
    background-color: #000000;
    border: none;
    height: 4px;
    width: 100vw;
}

.apresentacao{
    background-color: #232325;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.apresentacao-texto1{
    color: #ffffff;
    font-size: 45px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-bottom: 7px;
}

.apresentacao-texto2{
    color: #BE3144;
    font-size: 25px;
    font-style: italic;
    font-weight: 200;
    text-align: center;
}

.portifolio{
    background-color: #45567D;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portifolio-titulo{
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    text-align: center;
    padding: 15px;
}

.portifolio-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 76px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.portifolio-container-item{
    background-color: #232325;
    padding: 15px;
    border-radius: 10%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.411);
}

.portifolio-container-item-imagem{
    width: 500px;
    height: 500px;
    border-radius: 10%;
}

.portifolio-container-titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portifolio-titulo-do-projeto{
    font-size: 40px;
    margin-bottom: 10px;
}

.contato{
    background-color: #232325;
    width: 100vw;
    height: 30vh;
}

.contate-me{
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-size: 35px;
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

a:hover{
    cursor: pointer;
}

.contate-me-redes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
    gap: 40px;
}

.contate-me-redes a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
@media only screen and (min-width: 600px) {
    .cabecalho-menu a:hover{
        font-size: 28px;
        transition: 0.5s;
    }
    
    .portifolio-container-item:hover{
        padding: 25px;
        transition: 0.5s;
    }
    
    .portifolio-container-item-imagem:hover{
        width: 550px;
        height: 550px;
        transition: 0.5s;
    }

    .contate-me-redes a:hover{
        font-size: 30px;
        transition: 0.5s;
    }
}

@media only screen and (max-width: 600px) {
    .portifolio-titulo{
        font-size: 40px;
    }
    .portifolio-container{
        flex-direction: column;
        gap: 40px;
    }
    .portifolio-container-item{
        padding: 10px;
    }
    .portifolio-container-item-imagem{
        width: 150px;
        height: 150px;
        border-radius: 10%;
    }
    .portifolio-titulo-do-projeto{
        font-size: 20px;
        margin-bottom: 5px;
    }
    .contate-me{
        font-size: 25px;
        gap: 35px;
    }
    .contate-me-redes a{
        font-size: 20px;
    }
    .contate-me-redes{
        gap: 30px;
    }
}